<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Stock</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/plugin/layui/css/layui.css"  media="all">
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>卡片面板</legend>
</fieldset>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend>Stock列表</legend>
</fieldset>
<div id="div_body" class="layui-collapse" lay-filter="test">

    <div class="layui-colla-item">
        <h2 class="layui-colla-title">数据填报</h2>
        <div class="layui-colla-content" >
            <div style="padding: 20px; background-color: #F2F2F2;">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">数据填报</div>
                            <div class="layui-card-body">
                                <form class="layui-form" action="">

                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">编码</label>
                                            <div class="layui-input-inline">
                                                <select name="code" lay-verify="required" lay-search="">
                                                    <option value="">请选择编码</option>
                                                    <option value="601038">一</option>
                                                    <option value="600127">米</option>
                                                    <option value="002962">五方</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">序号</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="num" lay-verify="required" lay-reqtext="序号是必填项，岂能为空？" placeholder="请输入" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">资金金额</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="amount" lay-verify="required" lay-reqtext="金额是必填项，岂能为空？" placeholder="请输入" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">价格</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="price" lay-verify="required" lay-reqtext="价格是必填项，岂能为空？" placeholder="请输入" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-inline">
                                            <label class="layui-form-label">日期</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="time" id="time" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="layui-card">
                            <div class="layui-card-header">资金填报</div>
                            <div class="layui-card-body">
                                <form class="layui-form" action="">

                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">资金金额</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="amount" lay-verify="required" lay-reqtext="金额是必填项，岂能为空？" placeholder="请输入" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-inline">
                                            <label class="layui-form-label">日期</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="opTime" id="opTime" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <button type="submit" class="layui-btn" lay-submit="" lay-filter="fundSubmit">立即提交</button>
                                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-colla-item">
        <h2 class="layui-colla-title">当日数据</h2>
        <div class="layui-colla-content" >
            <div style="padding: 20px; background-color: #F2F2F2;">
                <div class="layui-row layui-col-space15" id="div_dayDetail">
<!--                    <div class="layui-col-md6">-->
<!--                        <div class="layui-card">-->
<!--                            <div class="layui-card-header">卡片面板</div>-->
<!--                            <div class="layui-card-body">-->
<!--                                <div id="report_day_1" style="height:400px;width:800px;"></div>-->

<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/plugin/layui/layui.js" charset="utf-8"></script>
<script src="/js/echart/echarts.js" charset="utf-8"></script>
<script src="/js/jquery/jquery.min.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    var basePath = "";
    layui.use(['element', 'layer','form', 'layedit', 'laydate'], function(){
        var element = layui.element;
        var layer = layui.layer;
        var form = layui.form
            ,layedit = layui.layedit
            ,laydate = layui.laydate;

        //监听折叠
        // element.on('collapse(test)', function(data){
        //     layer.msg('展开状态：'+ data.show);
        // });


        //日期
        laydate.render({
            elem: '#time',
            value:  new Date()
        });

        laydate.render({
            elem: '#opTime',
            value:  new Date()
        });
        form.on('submit(fundSubmit)', function(data){
            $.ajax({
                url: basePath+ '/fund/save'+"?time="+(new Date().getTime()),
                type: "post",
                dataType : "json",
                contentType : "application/json",
                data:JSON.stringify(data.field),
                success: function (o) {
                    layer.msg('提交成功');
                },
                error: function (e) {
                    layer.msg('提交失败');
                    console.log(e);
                }
            });
            return false;
        });

        form.on('submit(demo1)', function(data){
            $.ajax({
                url: basePath+ '/financial/saveFinacial'+"?time="+(new Date().getTime()),
                type: "post",
                dataType : "json",
                contentType : "application/json",
                data:JSON.stringify(data.field),
                success: function (o) {
                    layer.msg('提交成功');
                },
                error: function (e) {
                    layer.msg('提交失败');
                    console.log(e);
                }
            });
            return false;
        });


        $(document).ready(function(){
            var curTime = getFormatDate();
            generateChart(basePath,"div_body","601038","一历史数据","0",getHistoryOption("4"),"2010-05-18");
            generateChart(basePath,"div_dayDetail","601038","一当日数据",curTime,getNowOption("dataMin"));
            generateChart(basePath,"div_body","600127","米历史数据","0",getHistoryOption("6"),"2010-05-20");
            generateChart(basePath,"div_dayDetail","600127","米当日数据",curTime,getNowOption("dataMin"));

            generateChart(basePath,"div_body","002962","五方历史数据","0",getHistoryOption("10"),"2010-05-12");
            generateChart(basePath,"div_dayDetail","002962","五方当日数据",curTime,getNowOption("dataMin"));


            generateChart(basePath,"div_body","myFund","资金流水",0,getFundOption("dataMin"));
            element.render();
        })
    });


    function getFormatDate(){
        var nowDate = new Date();
        var year = nowDate.getFullYear();
        var month = nowDate.getMonth() + 1 < 10 ? "0" + (nowDate.getMonth() + 1) : nowDate.getMonth() + 1;
        var date = nowDate.getDate() < 10 ? "0" + nowDate.getDate() : nowDate.getDate();
        // var hour = nowDate.getHours()< 10 ? "0" + nowDate.getHours() : nowDate.getHours();
        // var minute = nowDate.getMinutes()< 10 ? "0" + nowDate.getMinutes() : nowDate.getMinutes();
        // var second = nowDate.getSeconds()< 10 ? "0" + nowDate.getSeconds() : nowDate.getSeconds();
        return year + "-" + month + "-" + date;
    }

    function generateChart(basePath,parentId,code,title,time,optionStr,startTime,endTime){
        var width ;
        var reportFormId = "code"+(new Date()).getTime();
        if(time == 0){
            width = $(document).width();
            html = "<div class=\"layui-colla-item\">\n" +
                "        <h2 class=\"layui-colla-title\">"+title + "</h2>\n" +
                "        <div class=\"layui-colla-content\" >\n" +
                "            <div id=\""+reportFormId+"\" style=\"height:400px;min-width:800px;width:100%;\"></div>\n" +
                "        </div>\n" +
                "    </div>"
        }else{
            width = width /2;
            html = "<div class=\"layui-col-md6\">\n" +
                "                        <div class=\"layui-card\">\n" +
                "                            <div class=\"layui-card-header\">"+title+"</div>\n" +
                "                            <div class=\"layui-card-body\">\n" +
                "                                <div id=\""+reportFormId+"\" style=\"height:400px;width:800px;\"></div>\n" +
                "                            </div>\n" +
                "                        </div>\n" +
                "                    </div>";
        }
        if(width <400){
            width = 400;
        }
        width = width -10;
        $("#"+parentId).append(html);
        $("#"+reportFormId).css("width", width+"px");
        if(code == "myFund"){
            generateFund(reportFormId,optionStr,startTime,endTime);
        }else{
            generateFinacial(reportFormId,optionStr,code,time,startTime,endTime);
        }



    }

    function generateFund(reportFormId,optionStr,startTime,endTime){
        var myChart = echarts.init(document.getElementById(reportFormId));
        var po = {};

        po.report_p_startTime = startTime;
        po.report_p_endTime = endTime;
        $.ajax({
            url: basePath+ '/fund/getFund'+"?time="+(new Date().getTime()),
            type: "post",
            dataType : "json",
            contentType : "application/json",
            data:JSON.stringify(po),
            success: function (o) {
                var str = optionStr.replace(/###xData###/,o.xData);
                var str = str.replace(/###amountData###/,o.amountData);
                var str = str.replace(/###amountTotalData###/,o.amountTotalData);
                var option  = eval(" option = "+ str);
                myChart.setOption(option);
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    function generateFinacial(reportFormId,optionStr,code,time,startTime,endTime){
        var myChart = echarts.init(document.getElementById(reportFormId));
        var po = {};
        po.report_p_code = code;
        if(time != 0){
            po.report_p_time = time;
        }
        po.report_p_startTime = startTime;
        po.report_p_endTime = endTime;
        $.ajax({
            url: basePath+ '/financial/getStockInfo'+"?time="+(new Date().getTime()),
            type: "post",
            dataType : "json",
            contentType : "application/json",
            data:JSON.stringify(po),
            success: function (o) {
                var str = optionStr.replace(/###xData###/,o.xData);
                var str = str.replace(/###priceData###/,o.priceData);
                var str = str.replace(/###amountData###/,o.amountData);
                var str = str.replace(/###amountTotalData###/,o.amountTotalData);
                var str = str.replace(/###title###/,o.title);
                var option  = eval(" option = "+ str);
                myChart.setOption(option);
            },
            error: function (e) {
                console.log(e);
            }
        });
    }
    function getHistoryOption(startData){
        var optionStr = " option = {\n" +
            "        title: {\n" +
            "            text: '###title###资金及价格趋势统计图',\n" +
            "            textStyle: {\n" +
            "                align: 'center',\n" +
            "                color: '#fff',\n" +
            "                fontSize: 20,\n" +
            "            },\n" +
            "            top: '3%',\n" +
            "            left: '10%',\n" +
            "        },\n" +
            "        backgroundColor: '#2F4056',\n" +
            "        grid: {\n" +
            "            top: '25%',\n" +
            "            bottom: '10%'//也可设置left和right设置距离来控制图表的大小\n" +
            "        },\n" +
            "        tooltip: {\n" +
            "            trigger: 'axis',\n" +
            "            axisPointer: {\n" +
            "                type: 'shadow',\n" +
            "                label: {\n" +
            "                    show: true\n" +
            "                }\n" +
            "            }\n" +
            "        },\n" +
            "        legend: {\n" +
            "            data: [ '价格','当日资金','资金汇总'],\n" +
            "            top: '15%',\n" +
            "            textStyle: {\n" +
            "                color: '#ffffff'\n" +
            "            }\n" +
            "        },\n" +
            "        xAxis: {\n" +
            "            data: ###xData###,\n" +
            "        axisLine: {\n" +
            "        show: true, //隐藏X轴轴线\n" +
            "            lineStyle: {\n" +
            "            color: '#01FCE3'\n" +
            "        }\n" +
            "    },\n" +
            "    axisTick: {\n" +
            "        show: true //隐藏X轴刻度\n" +
            "    },\n" +
            "    axisLabel: {\n" +
            "        show: true,\n" +
            "            textStyle: {\n" +
            "            color: '#ebf8ac' //X轴文字颜色\n" +
            "        }\n" +
            "    }\n" +
            "\n" +
            "    },\n" +
            "    yAxis: [{\n" +
            "        type: 'value',\n" +
            " min: 'dataMin',"+
            "        name: '元',\n" +
            "        nameTextStyle: {\n" +
            "            color: '#ebf8ac'\n" +
            "        },\n" +
            "        splitLine: {\n" +
            "            show: false\n" +
            "        },\n" +
            "        axisTick: {\n" +
            "            show: true\n" +
            "        },\n" +
            "        axisLine: {\n" +
            "            show: true,\n" +
            "            lineStyle: {\n" +
            "                color: '#FFFFFF'\n" +
            "            }\n" +
            "        },\n" +
            "        axisLabel: {\n" +
            "            show: true,\n" +
            "            textStyle: {\n" +
            "                color: '#ebf8ac'\n" +
            "            }\n" +
            "        },\n" +
            "\n" +
            "    },\n" +
            "        {\n" +
            "            type: 'value',\n" +
            " min: '"+startData+"',"+
            "            name: '万元',\n" +
            "            nameTextStyle: {\n" +
            "                color: '#ebf8ac'\n" +
            "            },\n" +
            "            position: 'right',\n" +
            "            splitLine: {\n" +
            "                show: false\n" +
            "            },\n" +
            "            axisTick: {\n" +
            "                show: false\n" +
            "            },\n" +
            "            axisLine: {\n" +
            "                show: true,\n" +
            "                lineStyle: {\n" +
            "                    color: '#FFFFFF'\n" +
            "                }\n" +
            "            },\n" +
            "            axisLabel: {\n" +
            "                show: true,\n" +
            "                formatter: '{value} ', //右侧Y轴文字显示\n" +
            "                textStyle: {\n" +
            "                    color: '#ebf8ac'\n" +
            "                }\n" +
            "            }\n" +
            "        }\n" +
            "    ],\n" +
            "        series: [{\n" +
            "        name: '价格',\n" +
            "        type: 'line',\n" +
            "        yAxisIndex: 1, //使用的 y 轴的 index，在单个图表实例中存在多个 y轴的时候有用\n" +
            "        smooth: true, //平滑曲线显示\n" +
            "        showAllSymbol: true, //显示所有图形。\n" +
            "        symbol: 'circle', //标记的图形为实心圆\n" +
            "        symbolSize: 10, //标记的大小\n" +
            "        itemStyle: {\n" +
            "            //折线拐点标志的样式\n" +
            "            color: '#058cff'\n" +
            "        },\n" +
            "        lineStyle: {\n" +
            "            color: '#058cff'\n" +
            "        },\n" +
            "        areaStyle:{\n" +
            "            color: 'rgba(5,140,255, 0.2)'\n" +
            "        },\n" +
            "        data: ###priceData###\n" +
            "    },\n" +
            "    {\n" +
            "        name: '当日资金',\n" +
            "            type: 'bar',\n" +
            "        yAxisIndex: 0,\n" +
            "        barWidth: 15,\n" +
            "        itemStyle: {\n" +
            "        normal: {\n" +
            "            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{\n" +
            "                offset: 0,\n" +
            "                color: '#00FFE3'\n" +
            "            },\n" +
            "                {\n" +
            "                    offset: 1,\n" +
            "                    color: '#4693EC'\n" +
            "                }\n" +
            "            ])\n" +
            "        }\n" +
            "    },\n" +
            "        data:###amountData###\n" +
            "    },\n" +
            "    {\n" +
            "        name: '资金汇总',\n" +
            "            type: 'line',\n" +
            "        yAxisIndex: 0, //使用的 y 轴的 index，在单个图表实例中存在多个 y轴的时候有用\n" +
            "        smooth: true, //平滑曲线显示\n" +
            "        showAllSymbol: true, //显示所有图形。\n" +
            "        symbol: 'circle', //标记的图形为实心圆\n" +
            "        symbolSize: 10, //标记的大小\n" +
            "        itemStyle: {\n" +
            "        //折线拐点标志的样式\n" +
            "        color: '#00FFE3'\n" +
            "    },\n" +
            "        lineStyle: {\n" +
            "            color: '#00FFE3'\n" +
            "        },\n" +
            "        areaStyle:{\n" +
            "            color: 'rgba(5,140,255, 0.2)'\n" +
            "        },\n" +
            "        data: ###amountTotalData###\n" +
            "    }\n" +
            "    ]\n" +
            "    };";
        return optionStr;
    }

    function getNowOption(startData){
        var option = "option = {\n" +
            "     title: {\n" +
            "\t        text: '###title###资金及价格趋势统计图',\n" +
            "\t        textStyle: {\n" +
            "\t        \t align: 'center',\n" +
            "\t            color: '#fff',\n" +
            "\t            fontSize: 20,\n" +
            "\t        },\n" +
            "\t        top: '3%',\n" +
            "\t        left: '10%',\n" +
            "\t    },\n" +
            "    backgroundColor: '#0f375f',\n" +
            "    grid: {\n" +
            "        top: \"25%\",\n" +
            "        bottom: \"10%\"//也可设置left和right设置距离来控制图表的大小\n" +
            "    },\n" +
            "    tooltip: {\n" +
            "        trigger: \"axis\",\n" +
            "        axisPointer: {\n" +
            "            type: \"shadow\",\n" +
            "            label: {\n" +
            "                show: true\n" +
            "            }\n" +
            "        }\n" +
            "    },\n" +
            "    legend: {\n" +
            "        data: [\"价格\", \"资金\"],\n" +
            "        top: \"15%\",\n" +
            "        textStyle: {\n" +
            "            color: \"#ffffff\"\n" +
            "        }\n" +
            "    },\n" +
            "    xAxis: {\n" +
            "        data:###xData###,\n" +
            "        axisLine: {\n" +
            "            show: true, //隐藏X轴轴线\n" +
            "            lineStyle: {\n" +
            "                        color: '#01FCE3'\n" +
            "                        }\n" +
            "        },\n" +
            "        axisTick: {\n" +
            "            show: true //隐藏X轴刻度\n" +
            "        },\n" +
            "        axisLabel: {\n" +
            "            show: true,\n" +
            "            textStyle: {\n" +
            "                color: \"#ebf8ac\" //X轴文字颜色\n" +
            "            }\n" +
            "        },\n" +
            "         \n" +
            "    },\n" +
            "    yAxis: [{\n" +
            "            type: \"value\",\n" +
            "            name: \"元\",\n" +
            "            nameTextStyle: {\n" +
            "                color: \"#ebf8ac\"\n" +
            "            },\n" +
            "            splitLine: {\n" +
            "                show: false\n" +
            "            },\n" +
            "            axisTick: {\n" +
            "                show: true\n" +
            "            },\n" +
            "            axisLine: {\n" +
            "                show: true,\n" +
            "                lineStyle: {\n" +
            "                            color: '#FFFFFF'\n" +
            "                            }\n" +
            "            },\n" +
            "            axisLabel: {\n" +
            "                show: true,\n" +
            "                textStyle: {\n" +
            "                    color: \"#ebf8ac\"\n" +
            "                }\n" +
            "            },\n" +
            "             \n" +
            "        },\n" +
            "        {\n" +
            "            type: \"value\",\n" +
            "            name: \"价格\",\n" +
            " min: '"+startData+"',"+
            "            nameTextStyle: {\n" +
            "                color: \"#ebf8ac\"\n" +
            "            },\n" +
            "            position: \"right\",\n" +
            "            splitLine: {\n" +
            "                show: false\n" +
            "            },\n" +
            "            axisTick: {\n" +
            "                show: false\n" +
            "            },\n" +
            "            axisLine: {\n" +
            "                show: false\n" +
            "            },\n" +
            "            axisLabel: {\n" +
            "                show: true,\n" +
            "                formatter: \"{value} \", //右侧Y轴文字显示\n" +
            "                textStyle: {\n" +
            "                    color: \"#ebf8ac\"\n" +
            "                }\n" +
            "            }\n" +
            "        },\n" +
            "        {\n" +
            "            type: \"value\",\n" +
            "            gridIndex: 0,\n" +
            "            min: 50,\n" +
            "            max: 100,\n" +
            "            splitNumber: 8,\n" +
            "            splitLine: {\n" +
            "                show: false\n" +
            "            },\n" +
            "            axisLine: {\n" +
            "                show: false\n" +
            "            },\n" +
            "            axisTick: {\n" +
            "                show: false\n" +
            "            },\n" +
            "            axisLabel: {\n" +
            "                show: false\n" +
            "            },\n" +
            "            splitArea: {\n" +
            "                show: true,\n" +
            "                areaStyle: {\n" +
            "                    color: [\"rgba(250,250,250,0.0)\", \"rgba(250,250,250,0.05)\"]\n" +
            "                }\n" +
            "            }\n" +
            "        }\n" +
            "    ],\n" +
            "    series: [{\n" +
            "            name: \"价格\",\n" +
            "            type: \"line\",\n" +
            "            yAxisIndex: 1, //使用的 y 轴的 index，在单个图表实例中存在多个 y轴的时候有用\n" +
            "            smooth: true, //平滑曲线显示\n" +
            "            showAllSymbol: true, //显示所有图形。\n" +
            "            symbol: \"circle\", //标记的图形为实心圆\n" +
            "            symbolSize: 10, //标记的大小\n" +
            "            itemStyle: {\n" +
            "                //折线拐点标志的样式\n" +
            "                color: \"#058cff\"\n" +
            "            },\n" +
            "            lineStyle: {\n" +
            "                color: \"#058cff\"\n" +
            "            },\n" +
            "            areaStyle:{\n" +
            "                color: \"rgba(5,140,255, 0.2)\"\n" +
            "            },\n" +
            "            data:###priceData###\n" +
            "        },\n" +
            "        {\n" +
            "            name: \"资金\",\n" +
            "            type: \"bar\",\n" +
            "            barWidth: 15,\n" +
            "            itemStyle: {\n" +
            "                normal: {\n" +
            "                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{\n" +
            "                            offset: 0,\n" +
            "                            color: \"#00FFE3\"\n" +
            "                        },\n" +
            "                        {\n" +
            "                            offset: 1,\n" +
            "                            color: \"#4693EC\"\n" +
            "                        }\n" +
            "                    ])\n" +
            "                }\n" +
            "            },\n" +
            "            data: ###amountData###\n" +
            "        }\n" +
            "    ]\n" +
            "};";

        return option;
    }



    function getFundOption(startData){
        var option = "option = {\n" +
            "     title: {\n" +
            "\t        text: '资金流水趋势统计图',\n" +
            "\t        textStyle: {\n" +
            "\t        \t align: 'center',\n" +
            "\t            color: '#fff',\n" +
            "\t            fontSize: 20,\n" +
            "\t        },\n" +
            "\t        top: '3%',\n" +
            "\t        left: '10%',\n" +
            "\t    },\n" +
            "    backgroundColor: '#0f375f',\n" +
            "    grid: {\n" +
            "        top: \"25%\",\n" +
            "        bottom: \"10%\"//也可设置left和right设置距离来控制图表的大小\n" +
            "    },\n" +
            "    tooltip: {\n" +
            "        trigger: \"axis\",\n" +
            "        axisPointer: {\n" +
            "            type: \"shadow\",\n" +
            "            label: {\n" +
            "                show: true\n" +
            "            }\n" +
            "        }\n" +
            "    },\n" +
            "    legend: {\n" +
            "        data: [\"总资金\", \"资金\"],\n" +
            "        top: \"15%\",\n" +
            "        textStyle: {\n" +
            "            color: \"#ffffff\"\n" +
            "        }\n" +
            "    },\n" +
            "    xAxis: {\n" +
            "        data:###xData###,\n" +
            "        axisLine: {\n" +
            "            show: true, //隐藏X轴轴线\n" +
            "            lineStyle: {\n" +
            "                        color: '#01FCE3'\n" +
            "                        }\n" +
            "        },\n" +
            "        axisTick: {\n" +
            "            show: true //隐藏X轴刻度\n" +
            "        },\n" +
            "        axisLabel: {\n" +
            "            show: true,\n" +
            "            textStyle: {\n" +
            "                color: \"#ebf8ac\" //X轴文字颜色\n" +
            "            }\n" +
            "        },\n" +
            "         \n" +
            "    },\n" +
            "    yAxis: [{\n" +
            "            type: \"value\",\n" +
            "            name: \"元\",\n" +
            "            nameTextStyle: {\n" +
            "                color: \"#ebf8ac\"\n" +
            "            },\n" +
            "            splitLine: {\n" +
            "                show: false\n" +
            "            },\n" +
            "            axisTick: {\n" +
            "                show: true\n" +
            "            },\n" +
            "            axisLine: {\n" +
            "                show: true,\n" +
            "                lineStyle: {\n" +
            "                            color: '#FFFFFF'\n" +
            "                            }\n" +
            "            },\n" +
            "            axisLabel: {\n" +
            "                show: true,\n" +
            "                textStyle: {\n" +
            "                    color: \"#ebf8ac\"\n" +
            "                }\n" +
            "            },\n" +
            "             \n" +
            "        },\n" +
            "        {\n" +
            "            type: \"value\",\n" +
            "            name: \"总资金\",\n" +
            " min: '"+startData+"',"+
            "            nameTextStyle: {\n" +
            "                color: \"#ebf8ac\"\n" +
            "            },\n" +
            "            position: \"right\",\n" +
            "            splitLine: {\n" +
            "                show: false\n" +
            "            },\n" +
            "            axisTick: {\n" +
            "                show: false\n" +
            "            },\n" +
            "            axisLine: {\n" +
            "                show: false\n" +
            "            },\n" +
            "            axisLabel: {\n" +
            "                show: true,\n" +
            "                formatter: \"{value} \", //右侧Y轴文字显示\n" +
            "                textStyle: {\n" +
            "                    color: \"#ebf8ac\"\n" +
            "                }\n" +
            "            }\n" +
            "        },\n" +
            "        {\n" +
            "            type: \"value\",\n" +
            "            gridIndex: 0,\n" +
            "            min: 50,\n" +
            "            max: 100,\n" +
            "            splitNumber: 8,\n" +
            "            splitLine: {\n" +
            "                show: false\n" +
            "            },\n" +
            "            axisLine: {\n" +
            "                show: false\n" +
            "            },\n" +
            "            axisTick: {\n" +
            "                show: false\n" +
            "            },\n" +
            "            axisLabel: {\n" +
            "                show: false\n" +
            "            },\n" +
            "            splitArea: {\n" +
            "                show: true,\n" +
            "                areaStyle: {\n" +
            "                    color: [\"rgba(250,250,250,0.0)\", \"rgba(250,250,250,0.05)\"]\n" +
            "                }\n" +
            "            }\n" +
            "        }\n" +
            "    ],\n" +
            "    series: [{\n" +
            "            name: \"总资金\",\n" +
            "            type: \"line\",\n" +
            "            yAxisIndex: 1, //使用的 y 轴的 index，在单个图表实例中存在多个 y轴的时候有用\n" +
            "            smooth: true, //平滑曲线显示\n" +
            "            showAllSymbol: true, //显示所有图形。\n" +
            "            symbol: \"circle\", //标记的图形为实心圆\n" +
            "            symbolSize: 10, //标记的大小\n" +
            "            itemStyle: {\n" +
            "                //折线拐点标志的样式\n" +
            "                color: \"#058cff\"\n" +
            "            },\n" +
            "            lineStyle: {\n" +
            "                color: \"#058cff\"\n" +
            "            },\n" +
            "            areaStyle:{\n" +
            "                color: \"rgba(5,140,255, 0.2)\"\n" +
            "            },\n" +
            "            data:###amountTotalData###\n" +
            "        },\n" +
            "        {\n" +
            "            name: \"资金\",\n" +
            "            type: \"bar\",\n" +
            "            barWidth: 15,\n" +
            "            itemStyle: {\n" +
            "                normal: {\n" +
            "                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{\n" +
            "                            offset: 0,\n" +
            "                            color: \"#00FFE3\"\n" +
            "                        },\n" +
            "                        {\n" +
            "                            offset: 1,\n" +
            "                            color: \"#4693EC\"\n" +
            "                        }\n" +
            "                    ])\n" +
            "                }\n" +
            "            },\n" +
            "            data: ###amountData###\n" +
            "        }\n" +
            "    ]\n" +
            "};";

        return option;
    }

</script>

</body>
</html>
